body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: lightgray; /* Set background color to light gray */
    font-family: 'Gill Sans MT', sans-serif; /* Set font family to Gill Sans MT */
    font-size: 18px; /* Set font size to 18px */
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-overlay {
    color: black;
    text-align: center;
    background: white; /* Set background color to white */
    padding: 20px;
    border-radius: 50px;
    width: 19.5cm; /* Set width to 19.5 cm */
    height: 12.37cm; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow for better visibility */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid #000000; /* Set border color to black */
}

.text-overlay h1 {
    margin-bottom: 30px;
}

.role-buttons {
    display: flex;
    flex-direction: column;
    gap: 50px; /* Add space between buttons */
    width: 100%;
}

.role-buttons button {
    background-color: #1E3A8A; /* Set button background color */
    color: white;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Gill Sans MT', sans-serif; /* Set font family to Gill Sans MT */
    font-size: 18px;
}

.role-buttons button:hover {
    background-color: #FBAF41; /* Darken button color on hover */
}

.text-overlay p {
    margin-top: 20px;
    text-align: center;
    font-size: 18px; /* Set font size for the disclaimer text */
}


.links a {
    color: #0044cc;
    text-decoration: none;
    flex-grow: 1;
    text-align: center;
}

/* Add this CSS rule to show underline on hover */
.links a:hover {
    text-decoration: underline;
}